#chat-interface
  #chatwindow
    ul#chat-messages
    #chatusers(style='display:none')
      span.title
        | Users logged in:
      ul.user-list
  #chatline
    input(type='hidden', name='username', value=user.name)
    input(type='hidden', name='userid', value=user.id)
    input#chat-server(type='hidden', value=host)
    span.name
      #{user.name}:
    input.chat-message.disabled(name='message', disabled='disabled')
    span.connection-state