@import 'include'

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote
  margin 0
  padding 0
  border 0

body
  background colors-background
  font 14px/22px Helvetica, Sans-Serif;
a
  text-decoration none