/*
 * Define global colors
 */
colors-background = #efefef
colors-darkbackground = #6b6a63
colors-mediumbackground = #b0aea2
colors-lightbackground = #eae8d8
colors-fonttitle = #4e1313
colors-fontbody = #1c1c1a